@CHARSET "ISO-8859-1";


/* NavBar customisation */
.navbar-default .navbar-nav  li  a,
.navbar-default .navbar-nav  li  a:hover,
.navbar-default .navbar-nav  li  a:focus {
  color: #337ab7;
}

/* style for home page */

.app-color{
	color: #9c3143;
}

.table>thead>tr>th{
 	text-align: center;
 }

.table tr>td, .table tr>th,
.table tbody>tr>td, .table tbody>tr>th{
	padding : 3px;
}
.modal {
    top: 50px !important;
}

#loader{
	width:100%;
	height:100%;
	background-color:rgba(255, 255, 255, 0.5);
	z-index:1029;
	position:fixed;
}

/* Center the loader */			
#container .ajax-loader {			  
  	position: fixed;
  	left: 45%;
  	top: 45%;
  	width: 80px;
  	height: 80px;
  	color: #3498db;
  	font-size: 64px;
  	/*margin: -75px 0 0 -75px;
  	border: 12px solid #f3f3f3;
  	border-radius: 50%;
  	border-top: 12px solid #3498db;
  	-webkit-animation: spin 2s linear infinite;
  	animation: spin 2s linear infinite;*/
}

a {
	cursor: pointer;
}

@-webkit-keyframes spin {
  	0% { -webkit-transform: rotate(0deg); }
  	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  	0% { transform: rotate(0deg); }
  	100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  	position: relative;
  	-webkit-animation-name: animatebottom;
  	-webkit-animation-duration: 1s;
  	animation-name: animatebottom;
  	animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  	from { bottom:-100px; opacity:0 } 
  	to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  	from{ bottom:-100px; opacity:0 } 
  	to{ bottom:0; opacity:1 }
}

/* .popup-dialog{
	position: fixed;
	height: 100%;
	overflow:auto; 
} */

.popup-dialog .modal-dialog{		
	width:100%;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

/* dialog style */

/* dialog .modal-dialog{
	padding: 0px;
	margin: 0px;
} */


/* Toggle this class - hide and show the popup */
/* The actual popup */
dialog { 
	top: 0px;
	left: 0px;
	right: 0px;	
	bottom: 0px;	 
    background-color:rgba(0, 0, 0, 0);
    border: 1px solid #dadada;
    font-family:sans-serif;
    padding: 50px 100px 80px 50px;
    width: 100%;    
    height: 100%;
}
		


dialog[open] {
    -webkit-animation: show 1s ease normal;
}

@-webkit-keyframes show{
    from {
        transform: translateY(-110%);
    }
    to {
        transform: translateY(0%);
    }
}


.fit-height {
	max-height: 500px;
	overflow-y: auto;	
}

.shape-box{
	background: #FFF;
	box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

body{
	padding-top: 70px;
	font-size: 13px;
}

a, .cur-pointer{
	cursor: pointer;	
}





/* bootstrap customisation  */

/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2015 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*
 * See the Getting Started docs for more information:
 * http://getbootstrap.com/getting-started/#support-ie10-width
 */
@-ms-viewport     { width: device-width; }
@-o-viewport      { width: device-width; }
@viewport         { width: device-width; }

.form-control{
	border-radius: 0px;
}

.horizontal-space{
	margin-left: 8px;
	margin-right: 8px;
}

.help-block{
	font-size: smaller;
}

label{
	font-weight: 400;
}

.alert{
	padding: 5px;
}



/**
* DataTable 
*
*/

div.dataTables_wrapper div.dataTables_filter{
	float: right;
}
.dataTables_wrapper .dataTables_info {
	float: left;
}






 /*Icon when the collapsible content is shown */
  .icon-collapse:after {
  	float:left;
  	margin-right: 10px;
    font-family: "Glyphicons Halflings";
    content: "\e082";
  }
  /* Icon when the collapsible content is hidden */
  .icon-collapse.collapsed:after {
  	float:left;
  	margin-right: 10px;
    font-family: "Glyphicons Halflings";
    content: "\e081";
  }

  
 .logo-right{
	margin: 0px 10px;
	padding: 0px 0px;
    font-size: 42px;
    font-weight: 700;
    font-family: serif;
    color: #1263a9;
}


.hidden_scrollbar::-webkit-scrollbar,
.hide-scrollbar::-webkit-scrollbar {
	width: 0px;
	
}

.hidden_scrollbar::-webkit-scrollbar-track,
.hide-scrollbar::-webkit-scrollbar-track {
	/* background-color: rgb(255, 255, 255); */
	-webkit-border-radius: 0px;
}
.hidden_scrollbar::-webkit-scrollbar-thumb:vertical,
.hide-scrollbar::-webkit-scrollbar-thumb:vertical {
	background-color: rgb(142, 142, 142);
	-webkit-border-radius: 0px;
    -webkit-width: 0px;
}
.hidden_scrollbar::-webkit-scrollbar-thumb:vertical:hover,
.hide-scrollbar::-webkit-scrollbar-thumb:vertical:hover {
	/* background: rgba(0, 245, 255, 0.65); */
	width: 0px;
}

.form-control, .input-group{
	z-index: 0;
}

.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#555;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}



.show-pointer tbody tr > td:hover {
   cursor: pointer;
}	

.margin-0,
table.table-bordered.dataTable th .margin-0{
	margin: 0px;;
}	
.padding-0,
table.table-bordered.dataTable th .padding-0{
	padding: 0px;;
}


ul.dt-button-collection.dropdown-menu {
	max-height: 250px;
	overflow: auto;
}

.custom-input-datepicker {
	width: 100px !important;
	background: none !important;
}


.login-with-google-btn {
	transition: background-color .3s, box-shadow .3s;
	  
	padding: 12px 16px 12px 42px;
	border: none;
	border-radius: 3px;
	box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
	
	color: #757575;
	font-size: 14px;
	font-weight: 500;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
	
	background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
	background-color: white;
	background-repeat: no-repeat;
	background-position: 12px 11px;
	
	&:hover {
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
	}
	
	&:active {
	  background-color: #eeeeee;
	}
	
	&:focus {
	  outline: none;
	  box-shadow: 
		0 -1px 0 rgba(0, 0, 0, .04),
		0 2px 4px rgba(0, 0, 0, .25),
		0 0 0 3px #c8dafc;
	}
	
	&:disabled {
	  filter: grayscale(100%);
	  background-color: #ebebeb;
	  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);
	  cursor: not-allowed;
	}

	#iframeHolder {
		width: 100%;
		height: 0;
		padding-bottom: 56.25%; /* 16:9 aspect ratio */
		position: relative;
		overflow: hidden;
	}
	
	#iframeHolder iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}
	
  }
  
  
  
  
  

