<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div>
                <h3 class="pull-left" style="margin-top: 0px;">Cash Monitoring</h3>
            </div>
        </div>
    </div>
    <hr style="margin-top: 0px;">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="table-responsive">
                <table id="tbl_vacc_location_abstract" class="table table-striped table-bordered full-width table-hover show-pointer"
                    style="cursor: pointer;" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th nowrap class="text-center" colspan="10">Branch Details</th>
                            <th nowrap class="text-center" colspan="6">Cash In Hand Approvals</th>
                            <th nowrap class="text-center" colspan="4">Verified</th>
                        </tr>
                        <tr>
                            <th nowrap class="text-center">S.No</th>
                            <th nowrap class="text-center">Branch Name</th>
                            <th nowrap class="text-center">Opening Balance</th>
                            <th nowrap class="text-center">Closing Balance</th>
                            <th nowrap class="text-center">Bank Deposit</th>
                            <th nowrap class="text-center">Collection</th>
                            <th nowrap class="text-center">AEPS withdraw</th>
                            <th nowrap class="text-center">Disb Fees</th>
                            <th nowrap class="text-center">Bill Pay</th>
                            <th nowrap class="text-center">BBPS</th>
                            <th nowrap class="text-center">Day Closed On</th>
                            <th nowrap class="text-center">Branch comments</th>
                            <th nowrap class="text-center">Status</th>
                            <th nowrap class="text-center">Approved By</th>
                            <th nowrap class="text-center">Approved On</th>
                            <th nowrap class="text-center">Approver Comments</th>
                            <th nowrap class="text-center">Verified By</th>
                            <th nowrap class="text-center">Verified On</th>
                            <th nowrap class="text-center">Verifier Comments</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="/tms/views/cash-monitoring/index.js"></script>